name: Deploy Frontend to Firebase Hosting

on:
  push:
    branches:
      - master # Asegúrate que esta sea tu rama principal (main o master)

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18' # Ajusta la versión si es necesario

      - name: Install Dependencies and Build
        # Corremos npm ci para instalar dependencias y luego npm run build
        run: |
          npm ci
          npm run build

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          # Usamos la clave de GCP que ya subiste
          firebaseServiceAccount: '${{ secrets.GCP_SA_KEY }}' 
          channelId: live
          projectId: notapis-481017