name: Deploy Frontend to Firebase Hosting

on:
  push:
    branches:
      - master # O la rama que uses
      
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20' 

      - name: Install Dependencies and Build
        # AQUÍ ES DONDE ESTÁ EL CAMBIO CLAVE: agregamos working-directory
        run: |
          npm ci
          npm run build
        working-directory: ./mi-api-pwa/mi-api-pwa # <--- DEBE IR AQUÍ

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.GCP_SA_KEY }}' 
          channelId: live
          projectId: notapis-481017