name: Deploy to Google Cloud

on:
  push:
    branches:
      - master # O la rama que uses

env:
  PROJECT_ID: notapis-481017 # <--- CAMBIA ESTO (ej: notapis-481017)
  SERVICE_NAME: notapis-backend # <--- El nombre que usaste en Cloud Run
  REGION: us-central1

jobs:
  deploy-gcp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # 1. Autenticación con Google Cloud
      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      # 2. Configurar el SDK de Google Cloud
      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v1'

      # 3. Desplegar Backend (Spring Boot) a Cloud Run
      # Nota: Usamos source . para que Google construya el Docker automáticamente
      - name: 'Deploy Backend to Cloud Run'
        id: deploy-backend
        run: |
          cd mi-api-rest/mi-api-rest #
          gcloud run deploy ${{ env.SERVICE_NAME }} \
            --source . \
            --region ${{ env.REGION }} \
            --allow-unauthenticated \
            --format="value(status.url)" > ../backend_url.txt
          
          # Guardamos la URL en una variable para el siguiente paso
          echo "BACKEND_URL=$(cat ../backend_url.txt)" >> $GITHUB_ENV

      # 4. Instalar dependencias del Frontend
      - name: Install Frontend Dependencies
        run: |
          cd mi-api-pwa/mi-api-pwa # <--- CAMBIA ESTO
          npm install

      # 5. Construir Frontend (Inyectando la URL de Google)
      - name: Build Frontend
        run: |
          cd mi-api-pwa/mi-api-pwa # <--- CAMBIA ESTO
          npm run build
        env:
          # ¡Aquí ocurre la magia! Usamos la URL que obtuvimos en el paso 3
          VITE_API_URL: ${{ env.BACKEND_URL }} 

      # 6. Desplegar a Firebase Hosting
      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.GCP_SA_KEY }}'
          channelId: live
          projectId: ${{ env.PROJECT_ID }}
          entryPoint: "./mi-api-pwa/mi-api-pwa" # <--- CAMBIA ESTO (ruta al frontend)
